{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6.10"
        },
        "modules": false,
        "useBuiltIns": true,
        "loose": true
      }
    ]
  ],
  "plugins": ["lodash", "transform-object-rest-spread", "date-fns"],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "6.10"
            }
          }
        ]
      ]
    }
  }
}
