{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 4.3
        }
      }
    ]
  ],
  "sourceMaps": true,
  "plugins": [
    "add-module-exports"
  ],
  "ignore": [
    "node_modules/**"
  ]
}
